<header>
    <div class="site-title">
        <a href="{{ '/' | relative_url }}" style="font-size: 1.5rem; font-weight: bold; color: var(--text-color); text-decoration: none;">
            {{ site.title }}
        </a>
    </div>
    <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/experience' | relative_url }}">Experience</a>
        <a href="{{ '/researchprojects' | relative_url }}">Research & Projects</a>
        <a href="{{ '/files/BachirajuShreyas_Resume_Grad.pdf' | relative_url }}" target="_blank">Resume</a>
    </nav>
</header>
