<header>
    <div class="site-title">
        <a href="{{ '/' | relative_url }}">
            {{ site.title }}
        </a>
    </div>
    <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/publications' | relative_url }}">Publications</a>
        <a href="{{ '/research' | relative_url }}">Research</a>
        <a href="{{ '/experience' | relative_url }}">Experience</a>
        <a href="{{ '/projects' | relative_url }}">Projects</a>
        <a href="{{ '/awards' | relative_url }}">Awards</a>
        <a href="{{ '/files/BachirajuShreyas_Resume_Grad.pdf' | relative_url }}" target="_blank">Resume</a>
    </nav>
</header>
